
/*rgba(4, 1, 82, 0.534)
    #040152
    #ffcd4b
    #ffb700
    rgba(4, 1, 82, 0.800)
    rgba(0, 0, 0, 0.589)
*/
@media screen (max-width: ) {
       
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background:linear-gradient(rgba(4, 1, 82, 0.900),rgba(4, 1, 82, 0.900)),url("img/8a377709-17c7-45cb-9853-89269fc0510d.jpeg"),#040150bd;
    background-position: middle center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    width: 100%;
    display: flex;
    background-color: #ffffffd5;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.489);
    color: #040152;
    align-items: center;
    padding:10px 40px 10px 40px;
    justify-content: space-between;
   text-align: center; 
   position: fixed;
   top: 0;
}

ol{
    list-style: none;
}

.navitems{
    display: flex;
    flex-direction: column;
}

.ho{
    text-decoration: none;
    padding: 1px 10px;
    transition: .5s;
    background-color: #040152;
    color: #ffffffd5;
    border-radius: 4px;
    padding: 2px 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.200);
}

.ho:hover{
    background-color: #ffb700;
    color: #040152;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    padding-left: 15px ;
}

.Logo{
    display: block;
    width: 190px;
    text-align: center;
    font-weight: 900;
}



.article{
    position:absolute;
   width: 100%;
    display: flex;
    flex-direction: column;
    margin:100px 0;
    justify-content: center;
    align-items: center;
}

.Analysis{
    width: 100%;
    margin:0px 0px 50px auto;
    max-height: 100vh;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 27px;
}
.detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 0px;
    align-items: center;
   position:relative;
   justify-content: center;
    letter-spacing: 1px;
}

h1{
    color: white;
}

h3{
    text-transform: uppercase;
    font-size: 20px;
    color:  #ffcd4b
}

section{
    font-size: 38px;
}

span{
    color: #ffb700;
}

.btn{
    display: flex;
    position:relative;
    background-color:#4b497e;
    border-radius: 8px;
    width:100px;
    height:40px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    overflow:hidden;
}

.btn:hover::before{
    width: 150px;
}

.btn:hover::after{
    background-color:#4b497e;
}

.btn::before{
    content: "";
    background-color: #ffb700;
    position:absolute;
    width:30px;
    height:150px;
    animation: bb 5s linear infinite;
}

.btn::after{
    content: "";
    inset: 1px;
    background-color: #040152;
    position: absolute;
    border-radius: 8px;
}

@keyframes bb{
    to{
        transform: rotate(360deg)
    }
}

.ex {
    text-decoration: none;
    color:white;
    z-index: 1;
}

h6{
    text-align:center;
    font-size: 14px;
    width: 40%;
    margin: 15px 0 0 0;
    color: rgb(192, 192, 192);
    line-height: 17px;
}

.explor{
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: #ffd66f;
}

.bd{
    color: blue;
    text-decoration: underline;
}

.copyright{
    color: rgb(187, 186, 186);
    margin-top: 50px;
    font-size: 12px;
}